ENGINE=sqlite+aiosqlite:///./local.db
JWT_SECRET_KEY=change-me-in-production
JWT_TOKEN_LIFETIME=12

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

MINIO_URL=http://127.0.0.1:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
